* {
  box-sizing: border-box;
  color: #333;
}

body {
  min-height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #81a69b;
}

form {
  width: 600px;
  padding: 1rem;

  background-color: #fff;
}

p {
  margin: 0;
}

@media (max-width: 576px) {
  form {
    width: 300px;
  }
}
